.actor {
  position: absolute;
  width: 100px;
  height: 100px;
  max-width: 100px;
  background-color: #fff;
  // border-radius: 8px;
  overflow: hidden;
}

.clickable {
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

.moving {
  background-color: blue;
}
