.actor {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 8px;
}

.clickable {
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

.moving {
  background-color: blue;
}
